body {
  background: #eee;
  font-family: 'Karla', sans-serif;
}
#main h1{
  color: #444;
  text-align: center;
}
#main{
  padding: 0px;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
}
#book-list{
  padding: 0;
}
#book-list li{
  display: inline-block;
  margin: 12px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #879f48;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
  color: #879f48;
  cursor: pointer
}

#book-list li.active{
  border: 1px solid rgb(173, 20, 87);
  color: rgb(173, 20, 87);
}
form{
  background: #fff;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 400px;
}

form .field{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 2px;
}
form input, form select{
  min-width: 190px;
}
form label{
  text-align: right;
  padding: 6px;
}
form select form.input{
  margin: 4px;
  padding: 6px;
  box-sizing: border-box;
}

form button{
  color: #fff;
  font-size: 2em;
  background: #b7d667;
  border: 0;
  padding: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
#book-details{
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 40%;
  background: #b7d667;
  padding:30px;
  overflow: auto;
  box-shadow: -2px -3px 5px rgba(0,0,0,0.3);
  box-sizing: border-box;
  color: #fff;
}

/* #book-details img{
  float: right;
  top: 45px;
  position: absolute;
  right: 30px;
  width: 200px;
  height: 200px;
  box-shadow: -2px -3px 5px rgba(0,0,0,0.3);
  border-radius: 3px;
} */

.book__thumb, .book__thumb img, .book__thumb::after,
.book__thumb::before {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.book__thumb {
  cursor: pointer;
  display: block;
  width: 150px;
  height: 220px;
  position: relative;
  background: #facea2;
  z-index: 1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 9px 20px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: box-shadow .3s linear;
}

.book__thumb img {
  width: inherit;
  height: inherit;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  transition: all .45s ease;
}

.book__thumb:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25), 0 9px 20px 0 rgba(0, 0, 0, 0.45);
}
.book__thumb:hover img {
  -webkit-transform: rotateY(-25deg);
          transform: rotateY(-25deg);
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2);
}

.book__thumb::after,
.book__thumb::before {
  content: '';
  display: block;
  width: inherit;
  height: inherit;
  position: absolute;
  z-index: -1;
  top: 0;
  background: #facea2;
  border: 1px solid #d9d9d9;
}

.book__thumb::before {
  left: -3px;
}

.book__thumb::after {
  left: -6px;
}

.book__title{
  font-size: 24px;
}
.book__details{
  font-size: 20px;
}
.book__info{
  text-decoration: underline;
}